:root {
    --color1: #FFC107;
    --color2: #FFD041;
}

@media (orientation:landscape) {
    #timerPageStyle {
        background-color: var(--color1);
    }

    #timerPageStyle ion-card{
        background-color: var(--color1);
        box-shadow: none !important;
        align-content: center;
    }

    #timerPageStyle ion-card-header{
        color: black;
        font-size: 400%;
        text-align: center;
        font-weight: bold !important;
        padding:0;
    }

    #sentence{
        color: var(--color2);
        font-size: 400%;
        text-align: center;
        font-weight: bold !important;
        padding:0;
    }

    #timer{
        font-size: 600%;
        text-align: center;
        font-weight: bold !important;
        padding:0;
    }

    #pauseButton {
        grid-area: play;
        text-align: center;
        font-size: 200%;
        bottom:0 !important;
        right: 0 !important;
        position: fixed;
        color: black;
        background-color: var(--color1);
        box-shadow: none !important;
        height: 15%;
    }
}

@media (orientation:portrait) {
    #timerPageStyle {
        background-color: var(--color1);
    }

    #timerPageStyle ion-card{
        background-color: var(--color1);
        box-shadow: none !important;
        align-content: center;
    }

    #timerPageStyle ion-card-header{
        color: black;
        font-size: 600%;
        text-align: center;
        font-weight: bold !important;
    }

    #sentence{
        color: var(--color2);
        font-size: 400%;
        text-align: center;
        font-weight: bold !important;
    }

    #timer{
        font-size: 800%;
        text-align: center;
        font-weight: bold !important;
    }

    #pauseButton {
        grid-area: play;
        text-align: center;
        font-size: 200%;
        bottom:0 !important;
        right: 0 !important;
        position: fixed;
        color: black;
        background-color: var(--color1);
        box-shadow: none !important;
        height: 15%;
    }
}