@media (orientation:portrait) {
    .homePageStyle{
        background-color: #00BCD4;
    }

    ion-content{
        grid-template-columns: 100%;
    }

    .homePageStyle ion-card{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "header header header"
                            "minus number add"
                            ". play .";
        width: 75% !important;
        margin: 0 auto;
        box-shadow: none !important;
        background-color: #00BCD4;
    }

    ion-card-header{
        grid-area: header;
        text-align: center;
        font-size: 200%;
        font-weight: bold !important;
    }

    ion-card .button{
        text-align: center;
        color: black;
        background-color: #00BCD4;
        box-shadow: none !important;
    }

    ion-card #addButton {
        grid-area: add;
    }

    ion-card #minusButton {
        grid-area: minus;
    }

    #playButton {
        grid-area: play;
        text-align: center;
        font-size: 200%;
        bottom:0 !important;
        right: 0 !important;
        position: fixed;
        color: black;
        background-color: #00BCD4;
        box-shadow: none !important;
        height: 10%;
    }

    ion-card #content {
        grid-area: number;
        text-align: center;
        font-size: 200%;
    }
}

@media (orientation:landscape) {
    .homePageStyle{
        background-color: #00BCD4;
    }
    
    ion-content{
        grid-template-columns: 100%;
    }
    
    .homePageStyle ion-card{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        grid-template-areas: "header header header"
                            "minus number add"
                            ". play .";
        width: 50% !important;
        height: 25%;
        margin: 0 auto;
        box-shadow: none !important;
        background-color: #00BCD4;
    }
    
    ion-card-header{
        grid-area: header;
        text-align: center;
        font-weight: bold !important;
    }
    
    ion-card .button{
        text-align: center;
        color: black;
        background-color: #00BCD4;
        font-size: 150% !important;
        box-shadow: none !important;
    }
    
    ion-card #addButton {
        grid-area: add;
    }
    
    ion-card #minusButton {
        grid-area: minus;
    }
    
    #playButton {
        grid-area: play;
        text-align: center;
        font-size: 200%;
        bottom:0 !important;
        right: 0 !important;
        position: fixed;
        color: black;
        background-color: #00BCD4;
        box-shadow: none !important;
        height: 15%;
    }
    
    ion-card #content {
        grid-area: number;
        text-align: center;
        font-size: 150%;
    }
}