.homePageStyle{
    background-color: #00BCD4;
}

ion-content{
    grid-template-columns: 100%;
}

.homePageStyle ion-card{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". header ."
                         "minus number add"
                         ". play .";
    width: 80% !important;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: none !important;
    background-color: #00BCD4;
}

ion-card-header{
    grid-area: header;
    text-align: center;
    font-size: 200%;
    font-weight: bold !important;
}

ion-card .button{
    text-align: center;
    color: black;
    background-color: #00BCD4;
}

ion-card #addButton {
    grid-area: add;
}

ion-card #minusButton {
    grid-area: minus;
}

ion-card #playButton {
    grid-area: play;
    font-size: 200%;
    text-align: center;
}

ion-card #content {
    grid-area: number;
    text-align: center;
    font-size: 200%;
}